---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full lg:w-[740px] mx-auto py-44">
      <img class="rounded-full w-12 h-12 mb-4" src="https://media.licdn.com/dms/image/D5603AQF0_g3ei4EUxA/profile-displayphoto-shrink_800_800/0/1692821369057?e=2147483647&v=beta&t=ha722qYEjrfKcS-GRsOjZ2He_hOBDJdHbxfFtLu25qQ" alt="photo dev" />
      <h1 class="text-white text-5xl font-bold flex  flex-row gap-x-4 pb-4">
        Hey, soy Rolando A <a href="https://www.linkedin.com/in/rolando-arellano-m9869/" target="_blank" 
        class="flex justify-center items-center">
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl  text-wrap">
        <span>+1 año de experiencia.</span><span class="">Ing.en Sistemas Computacionales </span> de  <span class="text-lime-200/80"> Baja California, México.</span>
        Especializado en Desarrollado Web y crear aplicaciones únicas.
      </h2>
    </section>
  </main>
</Layout>
