---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Emailcon from "../components/icons/Emailcon.astro";
import Github from "../components/icons/Github.astro";
import Experience from "../components/Experience.astro";
import MaletaIcon from "../components/icons/MaletaIcon.astro";
---

<Layout
  title="Portafolio de Rolando A - Ing en sistemas y Programador Web "
  description="Portafolio de Rolando A - Ing en sistemas y Programador Web"
>
  <main>
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full size-12 mb-4"
        src="https://media.licdn.com/dms/image/D5603AQF0_g3ei4EUxA/profile-displayphoto-shrink_800_800/0/1692821369057?e=2147483647&v=beta&t=ha722qYEjrfKcS-GRsOjZ2He_hOBDJdHbxfFtLu25qQ"
        alt="photo dev"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hey, soy Rolando A <a
          href="https://www.linkedin.com/in/rolando-arellano-m9869/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        <span>+1 año de experiencia.</span><span class="text-blue-200/80">
          Ing.en Sistemas Computacionales
        </span> de Baja California, <span class="text-lime-100/80">
          México.</span
        >
        Especializado en <span class="text-blue-200/80">Desarrollado Web</span> y
        crear aplicaciones únicas.
      </h2>

      <nav class="flex gap-x-4 mt-8">
        <SocialPill href="https://www.linkedin.com/in/rolando-arellano-m9869/">
          <Linkedin class="size-6" />
          <span class="ml-2">Linkedin</span>
        </SocialPill>
        <SocialPill href="https://github.com/rolandoarellano69">
          <Github class="size-6" />
          <span class="ml-2">GitHub</span>
        </SocialPill>
        <SocialPill>
          <Emailcon class="size-6" />
          <span class="ml-2">rolando.arellano18@tectijuana.edu.mx</span>
        </SocialPill>
      </nav>
      <SectionContainer />

      <SectionContainer id="experiencia">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
          <MaletaIcon class="size-8" />
          Experiencia Laboral
        </h2>
        <Experience />
      </SectionContainer>
  </main>
</Layout>
