<section class="flex gap-x-10 justify-center items-center">
 <div class="[&>p]:mb-4 [&>p]:text-pretty">
  <p class="">
    ¡Hola! Soy <span class="font-bold text-blue-500">Rolando A</span>, pero mis amigos me llaman <span class="font-bold text-green-500">Rola 👽</span>. Desde mi infancia, he sentido una fuerte fascinación por las computadoras, lo que me llevó a estudiar Ingeniería en Sistemas Computacionales. En la actualidad, me dedico al desarrollo de aplicaciones web y tengo un particular interés en el diseño de interfaces y la experiencia del usuario.
  </p>
  <p>
    A lo largo de mi carrera, he colaborado con empresas de diversos tamaños, desde <span class="text-purple-500 font-semibold">startups</span> hasta <span class="text-purple-500 font-semibold">grandes corporativos</span>. Mi experiencia laboral incluye un periodo en una <span class="text-yellow-500 font-semibold">empresa estadounidense del ámbito de servicios</span>, donde trabajé en equipo y colaboré con equipos internacionales. En México, he contribuido con empresas del <span class="text-yellow-500 font-semibold">sector aduanal</span>, <span class="text-yellow-500 font-semibold">inmobiliario</span> y <span class="text-yellow-500 font-semibold">tecnológico</span>.
  </p>
  <p>
    Disfruto trabajando en equipo, aprovechando la oportunidad de <span class="text-blue-500 font-semibold">aprender de los demás</span>. Al mismo tiempo, valoro la <span class="text-blue-500 font-semibold">autonomía</span> y la resolución independiente de problemas. Considero que esta combinación me ha permitido crecer como profesional, <span class="text-blue-500 font-semibold">aportando de manera efectiva</span> en entornos colaborativos y asumiendo la <span class="text-blue-500 font-semibold">responsabilidad en proyectos individuales</span>.
  </p>
 </div>
 <img
        class="rounded-full size-48 mb-4"
        src="https://media.licdn.com/dms/image/D5603AQF0_g3ei4EUxA/profile-displayphoto-shrink_800_800/0/1692821369057?e=2147483647&v=beta&t=ha722qYEjrfKcS-GRsOjZ2He_hOBDJdHbxfFtLu25qQ"
        alt="photo dev"
      />
  
</section>