<footer class="pt-16 pb-10">
  <div class="max-w-[60rem] mx-auto px-4 relative">
    <div class="flex flex-col space-y-2">
      <div class="w-full border-t border-amber-50 pb-5"></div>
      <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 justify-between items-center">
        <div class="hidden md:block relative overflow-hidden rounded-full">
          <img
          class="rounded-full size-12 mb-4"
          src="https://media.licdn.com/dms/image/D5603AQF0_g3ei4EUxA/profile-displayphoto-shrink_800_800/0/1692821369057?e=2147483647&v=beta&t=ha722qYEjrfKcS-GRsOjZ2He_hOBDJdHbxfFtLu25qQ"
          alt="photo dev"
        />
        <div class="flex flex-col items-center md:items-start">
          <span class="leading-none">© Desde el 2015. </span>

        </div>
        </div>

      </div>
    </div>
  </div>
Hecho en Mexico
</footer>