<header class="flex justify-between items-center py-4 w-[1120px] mx-auto">
  <img class="rounded-full w-12 h-12" src="https://media.licdn.com/dms/image/D5603AQF0_g3ei4EUxA/profile-displayphoto-shrink_800_800/0/1692821369057?e=2147483647&v=beta&t=ha722qYEjrfKcS-GRsOjZ2He_hOBDJdHbxfFtLu25qQ" alt="photo dev" />
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="">Homel</a>
    <a href="">About</a>
    <a href="">Projects</a>
    <a href="">Contact</a>
  </nav>
</header>
