<header class="flex justify-center items-center py-6 w-[1120px] mx-auto">
<span>

</span>
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="">Home</a>
    <a href="">About</a>
    <a href="">Projects</a>
    <a href="">Contact</a>
  </nav>
</header>
