---
const {href} = Astro.props
---
<a
href={href}
  class="text-white bg-[#24292F] hover:bg-[#24292F]/90 hover:scale-110 transition focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-xl text-sm px-3 py-2 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2"
>
<slot/>
</a>
